<include file="Public/head"/>
<body class="no-skin">
	<include file="Public/header"/>
	<script src="__PUBLIC__/admin/js/jquery.js"></script>
	<script src="__PUBLIC__/admin/js/ajax.js"></script>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<include file="Public/breadcrumbs" />

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<include file="Public/set" />

					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" id="form" name="form" action="{:u('preinfoupdate')}" method="post">
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-1"> 预定义信息编号</label>
									<div class="col-sm-9">
										<input type="text" name="preinfonum" id="preinfonum" 
											class="col-xs-10 col-sm-5" value="{$val.preinfonum}"> 
									</div>
								</div>
							
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-1"> 预定义信息名称</label>
									<div class="col-sm-9">
										<input type="text" name="name" id="name" 
											class="col-xs-10 col-sm-5" value="{$val.name}"> 
									</div>
								</div>
								
								<div class="space-4"></div>
							    <div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 类别： </label>
									<div class="col-sm-9">
									{$val.type|mySelect='PREDEFINEINFO_TYPE',###}
									 <input type="hidden" name="type" id="type" value="{$val.type}">
									</div>
								</div>
								
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-1">内容</label>
									<div class="col-sm-9">
										<textarea name="content" id="content" cols="40" rows="8" class="col-xs-10 col-sm-5">{$val.content}
										</textarea>
									</div>
								</div>
								<input name="id" id="id" type="hidden" value="{$val.id}">
								<div class="space-4"></div>
                                
								<div class="col-md-offset-1 col-md-9">
								<button type="button" class="btn btn-purple" onclick="return window.history.go(-1)">返回</button>
									<button class="btn btn-info submit" type="button">提交</button>
								</div>
							</form>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
		<include file="Public/footer" />
	</div>
	<!-- /.main-container -->
	<include file="Public/footerjs" />
	<script src="__PUBLIC__/qwadmin/js/bootbox.js"></script>
	<!-- inline scripts related to this page -->
	<script>
    jQuery(function ($) {
    	$(".submit").click(function() {
    		$("#type").val($("#myselect").val());
    		$('#form').submit();
    	}) 
    });
</script>
</body>
</html>
