<html >
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/datetime/css/fullcalendar.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/datetime/css/fancybox.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/datetime/css/cs.css"/>
    </head>
    <body>
        <div class="row">
            <div class="demo">
                <div id='calendar'></div>
               <font size="3"> <a href="#" onclick="window.history.go(-1)">返回</a></font>
            </div>
        </div>
           
        <input name="start" id="start" type="hidden" value="">
        <input name="end" id="end" type="hidden" value="">  
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script> 
        <script src='__PUBLIC__/datetime/js/jquery-ui.js'></script>
        <script src='__PUBLIC__/datetime/js/fullcalendar.min.js'></script>
        <script src='__PUBLIC__/datetime/js/jquery.fancybox-1.3.1.pack.js'></script>
        <script type="text/javascript">
            $(function() {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        //center: 'title',
                        //month,
                        right: 'agendaWeek,agendaDay'
                    },
                    eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                        $.post("ajax.php?action=drag", {id: event.id, daydiff: dayDelta, minudiff: minuteDelta, allday: allDay}, function(msg) {
                            if (msg != 1) {
                                alert(msg);
                                revertFunc();
                            }
                        });
                    },
                    selectable: true,
                    select: function(startDate, endDate, allDay, jsEvent, view) {
                        var start = $.fullCalendar.formatDate(startDate, 'yyyy-MM-dd hh:mm:ss');
                        var end = $.fullCalendar.formatDate(endDate, 'yyyy-MM-dd hh:mm:ss');
                        var href="{:U('addform')}"+"?start="+start+"& end="+end;
                        window.document.getElementById("start").value=start;
                        window.document.getElementById("end").value=end;
                        $.fancybox({
                            'type': 'ajax',
                            'href': href
                            //'href': "{:U('addform',array('start'=>start))}"
                            //'href': "PublishController?start=start"
                            //'href': "{:U('Program/publishsee',array('id'=>$val[id],'m_type'=>2))}">
                        });
                    },          
                    events: "{:U('myjson')}",
                    
                });
            });
        </script>
    </body>
</html>

