<include file="Public/headers" />
<link rel="StyleSheet" href="__DTREE__/dtree.css" type="text/css" />
<script type="text/javascript" src="__DTREE__/dtree.js"></script>
<script src="__PUBLIC__/admin/js/ajax.js"></script>

<div class="table_full">
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<td width="300px">
				   <div id="myTree0" style="position:fixed; z-index:999; top:110px;" >
					  <p>
						<a href="javascript: d.openAll();">展开</a> | <a
							href="javascript: d.closeAll();">合并</a>
					  <p>
				    </div>
					<div id="myTree" style="position:fixed; top:136px; "></div>
				</td>
				<td width="100%" >
				   <iframe id="right" name="right" frameborder="0"
						scrolling="no" width="1000px" height="560px" ></iframe>
				</td>
			</tr>
		</table>
	</div>
	<!-- PAGE CONTENT ENDS -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
<include file="Public/footers" />
<script src="__PUBLIC__/qwadmin/js/jquery.slimscroll.js"></script>
</body>
</html>
<script type="text/javascript">

	$(function() {
		creatDtree();
		d.openAll();
		$('#myTree').slimScroll({
			height: '560px',
			width: '300px',
			alwaysVisible : true
		});
	});
	var dtroot = "__DTREE__";
	d = new dTree('d');
	function creatDtree() {
		$.ajax({
			url : "{:U('getDevice')}",
			async : false,//同步，等这个请求完成后才继续往下执行,这样myTree才能使用返回来的数据  
			dataType : "json",
			success : function(myData) {
				for (var i = 0; i < myData.length; i++) {
					var obj = myData[i];
					//right是window.parent的一个frame的name  
					d.add(obj.id, obj.p_id, obj.name, "monitordeviceInfo/id/" + obj.id
							+ "/type/" + obj.type+"/status/"+obj.status, obj.name, "right");						
				}
				document.getElementById('myTree').innerHTML = d;
			}
		});
		d.config.target = "right";//right是window.parent的一个frame的name
		d.config.useCookies = false;
		d.config.inOrder = true;

	}
</script>