<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/bootstrap.css"/>
<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/font-awesome.css"/>
<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/jquery-ui.css"/>
<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace-fonts.css"/>
<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>
<script src="__PUBLIC__/qwadmin/js/bootstrap.js"></script>
<div class="row">
	<div class="col-xs-12" align="center">
	<!-- style="background:red ;color:red " -->
		<div >
		<label> 预览： </label>
		</div>
		<div >
		<video src="__ROOT__/Public/upload/147745217812783.mp4" width="320" height="200"></video>
		</div>
	</div><!-- /.col -->
</div><!-- /.row -->

